{% extends 'base.html.twig' %}

{% block title %}Registro{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="mb-4 text-center">Registrar</h1>

                {{ form_errors(registrationForm) }}

                {{ form_start(registrationForm) }}

                <div class="form-group">
                    {{ form_label(registrationForm.email) }}
                    {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(registrationForm.email) }}
                </div>

                <div class="form-group">
                    {{ form_label(registrationForm.plainPassword, 'Contraseña') }}
                    {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(registrationForm.plainPassword) }}
                </div>

                <div class="form-group">
                    {{ form_label(registrationForm.pais) }}
                    {{ form_widget(registrationForm.pais, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(registrationForm.pais) }}
                </div>

                <div class="form-group">
                    {{ form_label(registrationForm.cp) }}
                    {{ form_widget(registrationForm.cp, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(registrationForm.cp) }}
                </div>

                <div class="form-group">
                    {{ form_label(registrationForm.ciudad) }}
                    {{ form_widget(registrationForm.ciudad, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(registrationForm.ciudad) }}
                </div>

                <div class="form-group">
                    {{ form_label(registrationForm.direccion) }}
                    {{ form_widget(registrationForm.direccion, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(registrationForm.direccion) }}
                </div>

                <div class="form-group form-check">
                    {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input'}}) }}
                    {{ form_label(registrationForm.agreeTerms, 'Acepto los términos', {'label_attr': {'class': 'form-check-label'}}) }}
                    {{ form_errors(registrationForm.agreeTerms) }}
                </div>

                <button type="submit" class="btn btn-primary">Registrar</button>

                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}
