{% extends 'base.html.twig' %}

{% block title %}Categorias{% endblock %}

{% block body %}
    <h1 class="text-center">Categorias</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Acciones</th>

            </tr>
        </thead>
        <tbody>
        {% for categoria in categorias %}
            <tr>
                <td>{{ categoria.id }}</td>
                <td>{{ categoria.nombre }}</td>
                <td>{{ categoria.descripcion }}</td>
                <td>
                    <a class="text-decoration-none text-dark fw-bold" href="{{ path('app_categorias_edit', {'id': categoria.id}) }}">Editar</a>
                    <a class="text-decoration-none text-dark fw-bold" href="{{ path('app_categorias_acceso', {'id': categoria.id}) }}">Ver productos</a>
                </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="crearCategoria d-flex justify-content-center">
        <a class="btn-primary p-2 rounded-2 text-decoration-none text-dark fw-bold fs-5" href="{{ path('app_categorias_new') }}">Crear nueva categoría</a>
    </div>

    <style>

        .crearCategoria a:hover {
            transform: scale(1.2);
            box-shadow: 0 0 6px black;
        }
    </style>

{% endblock %}
