{% extends 'base.html.twig' %}

{% block title %}Categorias{% endblock %}

{% block body %}
    <h1 class="text-center">Categorias</h1>

    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            {% for categoria in categorias %}


                {% if categoria.id != 1 or is_granted('ROLE_ADMIN') %}
                    <tr>
                        <td>{{ categoria.id }}</td>
                        <td>{{ categoria.nombre }}</td>
                        <td>{{ categoria.descripcion }}</td>
                        <td>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="btn-editar" href="{{ path('app_categorias_edit', {'id': categoria.id}) }}">Editar</a>
                            {% endif %}
                            <a class="btn-ver-productos"
                               href="{{ path('app_categorias_acceso', {'id': categoria.id}) }}">Ver productos</a>
                        </td>
                    </tr>
                {% endif %}
            {% else %}
                <tr>
                    <td colspan="4">No se encontraron registros</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if is_granted('ROLE_ADMIN') %}
            <div class="crearCategoria d-flex justify-content-center">
                <a class="btn-crear" href="{{ path('app_categorias_new') }}">Crear nueva categoría</a>
            </div>
        {% endif %}
    </div>

    <style>
        .btn-editar,
        .btn-ver-productos,
        .btn-crear {
            display: inline-block;
            padding: 8px 12px;
            border: none;
            border-radius: 5px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            margin-right: 10px;
            transition: transform 0.3s, box-shadow 0.3s;
        }

        .btn-editar:hover,
        .btn-ver-productos:hover,
        .btn-crear:hover {
            transform: scale(1.05);
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
            color: white;
        }
    </style>
{% endblock %}
