{% extends 'base.html.twig' %}

{% block title %}Productos {% endblock %}

{% block body %}
    <h1 class="text-center">{{ nombre }}</h1>
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Peso</th>
                <th>Stock</th>
                <th>Precio</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            {% for producto in productos %}
                {% if producto.stock != 0 or is_granted('ROLE_ADMIN') %}
                    <tr>
                        <td>{{ producto.id }}</td>
                        <td>{{ producto.nombre }}</td>
                        <td>{{ producto.descripcion }}</td>
                        <td>{{ producto.peso }}</td>
                        <td>{{ producto.stock }}</td>
                        <td>{{ producto.precio }}</td>
                        <td>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="btn-editar"
                                   href="{{ path('app_productos_edit', {'id': producto.id, 'catId': catId}) }}">Editar</a>
                            {% endif %}

                        </td>
                    </tr>
                {% endif %}
            {% else %}
                <tr>
                    <td colspan="6">No hay productos</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if is_granted('ROLE_ADMIN') %}
            <div class="crearCategoria d-flex justify-content-center">
                <a class="btn-crear" href="{{ path('app_productos_new',{'catId': catId}) }}">Crear nuevo producto</a>
            </div>
        {% endif %}
    </div>

    <style>

        .crearCategoria a:hover {
            transform: scale(1.2);
            box-shadow: 0 0 6px black;
        }

        .btn-editar,
        .btn-ver-productos,
        .btn-crear {
            display: inline-block;
            padding: 8px 12px;
            border: none;
            border-radius: 5px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            margin-right: 10px;
            transition: transform 0.3s, box-shadow 0.3s;
        }

        .btn-editar:hover,
        .btn-ver-productos:hover,
        .btn-crear:hover {
            transform: scale(1.05);
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
            color: white;
        }

    </style>
{% endblock %}
