{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light">
        <img src="{{ asset('img/logo.png') }}" alt="logo" width="50" height="50">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav gap-5">
                {% if is_granted('ROLE_USER') %}
                    <li>
                        <a class="nav-link text-light fs-5 fw-bold" href="{{ path('app_pedido_mis_pedidos') }}">Mis pedidos</a>
                    </li>
                    <li>
                        <a class="nav-link text-light fs-5 fw-bold" href="{{ path('app_categorias_index') }}">Categorias</a>
                    </li>
                    <li>
                        <a class="nav-link text-light fs-5 fw-bold" href="{{ path('app_carrito') }}">Carrito</a>
                    </li>
                    <li>
                        <a class="nav-link text-light fs-5 fw-bold" href="{{ path('app_logout') }}">Cerrar Sesión</a>
                    </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link text-light fs-5 fw-bold" href="{{ path('app_login') }}">Iniciar Sesión</a>
                </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link text-light fs-5 fw-bold" href="{{ path('app_register') }}">Registrar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light fs-5 fw-bold" href="{{ path('app_pedido') }}">Pedidos</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    {% if error is defined and error is not empty %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endif %}
    {% if exito is defined and exito is not empty %}
        <div class="alert alert-success" role="alert">
            {{ exito }}
        </div>
    {% endif %}


    <style>

        .navbar-nav li:hover {
            transform: scale(1.2);
        }
        .navbar {
            padding: 1rem 5rem;
            background-color: darkblue !important;
        }

        .navbar-collapse {
            justify-content: right;
        }

    </style>
{% endblock %}