{% extends 'base.html.twig' %}

{% block title %}Mis Pedidos{% endblock %}

{% block body %}
    <div class="container">
        <h1>Mis Pedidos</h1>

        {% if pedidos is empty %}
            <p>No tienes ningún pedido.</p>
        {% else %}
            {% for pedido in pedidos %}
                <h2>Pedido #{{ pedido.id }}</h2>
                <p>Fecha: {{ pedido.fecha|date('Y-m-d') }}</p>
                <p>Estado: {{ pedido.enviado ? 'Enviado' : 'Pendiente' }}</p>
                <h3>Productos:</h3>
                <ul>
                    {% for datosPedido in pedido.productos %}
                        <li>{{ datosPedido.producto.nombre }} - Cantidad: {{ datosPedido.unidades }}</li>
                    {% endfor %}
                </ul>
                <p>Total: {{ pedido.totalPrecio }}€</p>
                <hr>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
